
@model string[]

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>

<body>
    <div id="microFrontendApp2">

    </div>
    <!-- Render JavaScript files -->
    @foreach (var jsFile in Model)
    {
        <script src="@Url.Content("~/Scripts/" + jsFile)"></script>
    }

</body>
</html>






