<!-- ~/Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Other meta tags, stylesheets, etc. -->
</head>
<body>
    <!-- Your HTML content -->
    <!-- Include your JavaScript bundle -->
    <script src="~/Scripts/vendor-react-dom.c1e84cb31c30b3e97fd7.bundle.js"></script>
</body>
</html>
